.brand-color {
    color: #CDE8F6;
}

.bg-brand-color {
    background-color: #CDE8F6;
}

.bg-footer-color {
    background-color: #152E3C;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bs-list {
    margin: auto;
}

.bs-item {
    width: 200px;
    margin: 0px 20px;
}

.no-decoration {
    text-decoration: none;
}

.navbar-brand {
    padding-right: -20%;
}

.searchbar {
    padding-right: 25%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}

.idandprice,
.date {
    display: flex;
}